* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  background-color: #07080c;
  min-height: 100vh;
  background-size: cover;
  padding: 50px;
}
.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.heading {
  font-family: 'Roboto';
  font-style: italic;
  font-size: 40px;
  color: #ffffff;
  font-weight: normal;
  text-align: center;
  margin-top: 0px;
}
.speedometer {
  width: 65%;
  margin-bottom: 0px;
}
.speed {
  font-family: 'Roboto';
  font-style: none;
  font-size: 30px;
  color: #ffffff;
  font-weight: normal;
  margin-bottom: 20px;
}
.description {
  font-family: 'Roboto';
  font-style: none;
  font-size: 16px;
  color: #cbd5e1;
  margin-bottom: 20px;
}
.button {
  height: 40px;
  width: 100px;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.accel {
  background-color: #0b69ff;
  color: #ffffff;
  padding: 10px;
}
.break {
  background-color: transparent;
  border: 1px solid #cbd5e1;
  color: #cbd5e1;
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
